.chat {
  flex: 0.65;
}

.chat_header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat_headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat_headerInfo > p {
  color: grey;
}

.chat_headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}
